/********** RESET **********/
a {
    text-decoration: none;
    
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RAIZ */ 
:root{
    --first-font: "Roboto", sans-serif;;
    --second-font: "Nunito", sans-serif; 
    --first-color: #c15e1b;
    --second-color: #995a49;
    --third-color: #fd0000;
    --fourth-color: #51ff00;
    --white-color: #ffffff;
    --black-color: #000000;
}

/* FUENTE DE TEXTO Y FONDO*/
body {
    font-family: var(--first-font);
    background-color: var(--white-color);
}
    
h1, h2, h3, h4{
    font-family: var(--second-font);
    line-height: 1.5;
}

/* COLOR DE TEXTO*/
h1, h2 {
    color: var(--first-color);
}
h3 {
    color: var(--third-color);
}
b {
    color: var(--fourth-color);
}
mark {
    background-color: var(--fourth-color);
}

/********FIN DEFAULT*********/

/************** TABLA PRINCIPAL  ***************/


/****TABLA****/

.main-table-container{
    display: flex;
    margin: 5%;
}

.main-table{
    width: 100%;
}

table, tr, th{
    border: 1px solid;
    color: var(--black-color);
    border-collapse: collapse; /*fuciona bordes*/
}

table{
    width: 100%;
}

th{
    font-family: var(--first-font);
    padding: 8px;
}

td{
    font-family: var(--second-font);
    padding: 4px;
    border: 1px solid black;
}


/****SELECT****/
select{
    font-family: var(--second-font);
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}


/* Estilo para SHORT */
.short-long-select.short {
    background-color: #ff0000; 
    color: #ffffff; 
}

/* Estilo para LONG */
.short-long-select.long {
    background-color: #00ff00; 
    color: #000000; 
}

.short{
    background-color: var(--third-color);
}

.long{
    background-color: var(--fourth-color);
}




/*BOTONES*/
.add-row-button{
    position: relative;
    text-decoration: none;
    width: 2.6rem;
    height: 2rem;
    border: 2px solid var(--fourth-color);
    color: var(--black-color);
    letter-spacing: 0.8px;
    z-index: 1;
    overflow: hidden;

}

.add-row-button::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: -200%;
    background-color: var(--fourth-color);
    border-radius:50%;
    transition: all 0.6s ease;
    z-index: -1;
}

.add-row-button:hover::before{
    top: 0;
    border-radius: 0%;
}

.delete-row-button{
    position: relative;
    text-decoration: none;
    width: 3.6rem;
    height: 2rem;
    border: 2px solid var(--third-color);
    color: var(--black-color);
    letter-spacing: 0.8px;
    z-index: 1;
    overflow: hidden;
}

.delete-row-button::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: -200%;
    background-color: var(--third-color);
    border-radius:50%;
    transition: all 0.6s ease;
    z-index: -1;
}

.delete-row-button:hover::before{
    top: 0;
    border-radius: 0%;
}
